body {
  text-align: center;
  background-color: #3A3845;
  font-family: 'Montserrat', sans-serif;
  color: #F7CCAC;
}

/* parallax */
.parallax {
  background-image: url("https://pbs.twimg.com/media/FQUt12HWYAINyPo?format=jpg&name=4096x4096");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 600px;
  object-fit: cover;
  opacity: .55;
  background-color: #5e5e5e;
  object-position: 20% 10%;
}

/* Header */
#header {
  position: absolute;
  text-align: center;
  z-index: 1;
  color: #FFF;
  padding-top: 240px;
  height: 71.4%;
  width: 100%;
}

#header h1 {
  border-bottom: 2px groove #FFF;
  display: inline-block;
}
/* Containers */
.container-fluid {
  padding: 0 1.5rem 0 1.5rem;
  margin: auto;
}

.text-box {
  height: 45vh;
  width: 100vw;
  padding: 50px;
}

/* Navigation Bar */
.navbar {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-custom {
  background-color: #3A3845;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  padding: 0 9px;
}

.nav-link {
  font-size: 1.2rem;
}

/* profile */


/* experience */
#experience {
  background-color: #F7CCAC;
  color: #3A3845;
}

/* Footer */
.social-icon {
  margin: 20px 10px;
}
